USE [master]
GO
/****** Object:  Database [SmsDB]    Script Date: 23-Mar-19 3:05:32 AM ******/
CREATE DATABASE [SmsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SmsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SmsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmsDB]
GO
USE [SmsDB]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 23-Mar-19 3:05:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Age] [nvarchar](50) NULL,
	[Interests] [nvarchar](max) NULL,
	[Picture] [nvarchar](max) NULL,
 CONSTRAINT [PK_Studdent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [Address], [Age], [Interests], [Picture]) VALUES (3, N'askdas', N'asdas', N'asdas', N'sdaas', N'C:\Users\Shahbaz\source\repos\SmsWebServices\SmsWebServices\Images\233619023616_1507901512-what-is-bank-receipt.jpg')
INSERT [dbo].[Students] ([Id], [Name], [Address], [Age], [Interests], [Picture]) VALUES (4, N'askdas', N'asdas', N'asdas', N'sdaas', N'C:\Users\Shahbaz\source\repos\SmsWebServices\SmsWebServices\Images\233619023625_1507901512-what-is-bank-receipt.jpg')
INSERT [dbo].[Students] ([Id], [Name], [Address], [Age], [Interests], [Picture]) VALUES (5, N'askdas', N'asdas', N'asdas', N'sdaas', N'C:\Users\Shahbaz\source\repos\SmsWebServices\SmsWebServices\Images\233619023642_1507901512-what-is-bank-receipt.jpg')
SET IDENTITY_INSERT [dbo].[Students] OFF
USE [master]
GO
